<div id="<%= dom_id currency %>">
  <p>
    <strong>Currency name:</strong>
    <%= currency.currency_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= currency.description %>
  </p>

</div>
