<div id="<%= dom_id lender %>">
  <p>
    <strong>First name:</strong>
    <%= lender.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= lender.last_name %>
  </p>

  <p>
    <strong>Number acount:</strong>
    <%= lender.number_acount %>
  </p>

</div>
